<footer>{{!-- The footer at the very bottom of the screen --}}

  <a href="#">
    <img src="assets/images/ccac.png" alt="">
  </a>

  <a href="#">
    <img src="assets/images/pilcrow.png" alt="">
  </a>

  <a href="#">
    <img src="" alt="">
  </a>

  <a href="#">
    <img src="" alt="">
  </a>

</footer>
