<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discursive Impulse</title> <!-- How to output page name /post name? -->
    {{ghost_head}}
  </head>
  <body>
    {{ghost_foot}}
  </body>
</html>
