<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discursive Impulse</title>
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css">
    {{ghost_head}}
  </head>
  <body>
    <header>
      <h1 class="page__title">{{@blog.title}}</h1>
    </header>
    {{{body}}}
    {{ghost_foot}}
  </body>
</html>
