{{!< default}}

{{#post}}
<div class="outer">
  <div class="inner">
    <main class="page">

      <img src="{{img_url feature_image}}" alt="Featured image for the post entitled '{{title}}'">

      {{content}}

    </main>
  </div>
</div>
{{/post}}
