{{!< default}}

{{#post}}
<div class="outer">
  <div class="inner">
    <main class="page">

      {{#if feature_image}}
        <img class="featured-img" src="{{img_url feature_image}}" alt="Featured image for the post entitled '{{title}}'">
      {{/if}}
      <section class="content">
        {{content}}
      </section>

    </main>
  </div>
</div>
{{/post}}
