/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Site Header
4.  Site Navigation
5.  Post Feed
6.  Single Post
7.  Author Template
8.  Error Template
9. Site Footer


/* 1. Global - Set it up!!!
/* ---------------------------------------------------------- */

@import "global.css";

/* Font face declarations */

@font-face {
  font-family: DIN;
  src: url(../fonts/DINNextLTPro-Regular.otf);
}

@font-face {
  font-family: DIN;
  src: url(../fonts/DINNextLTPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: freight-text;
  src: url(../fonts/FreightTextPro-Medium.otf);
}

@font-face {
  font-family: freight-text;
  src: url(../fonts/FreightTextPro-MediumItalic.otf);
  font-style: italic;
}

@font-face {
  font-family: freight-text;
  src: url(../fonts/FreightTextPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: freight-text;
  src: url(../fonts/FreightTextPro-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}

body {
    background: #fff;
    font-family: 'DIN' , 'Helvetica Neue', sans-serif; /* Set all text as DIN, this will override in styling for post page */
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}

a {
  color: black;
  text-decoration: none;
}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main {
    z-index: 100;
    flex-grow: 1;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 4vw;
}

/* Centered content container blocks */
.inner {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

/* Usage:

<div class="outer">
    <div class="inner">
        Centered content
    </div>
</div>

*/


/* 3. Site Header
/* ---------------------------------------------------------- */

.header__logo {
  margin: 0 0 0 -3px;
  width: 260px;
}

.header__menu-icon {
  position: absolute;
  top: 19px;
  right: 20px;
}

header button {
  background-color: white;
}

@media all and (min-width: 800px) {

}

/* 4. Site Navigation
/* ---------------------------------------------------------- */

nav {
  text-align: center;
  display: none;
}

nav a {
  display: block;
  font-size: 18px;
  margin-bottom: 12px;
}

nav a:last-of-type {
  margin-bottom: 18px;
}

@media all and (min-width: 800px) {
  nav {
    text-align: left;
  }
}


/* 5. Post Feed
/* ---------------------------------------------------------- */

.post {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  border-bottom: 1px solid;
}

.post:first-of-type {
  border-top: 1px solid;
}

.post__header, .post__author, .post__tag {
  display: inline-block;
}

.post__header {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  align-items: center;
  width:100%;
  margin-bottom: 8px;
}

.post__img {
  display:block;
  width: 100px;
  height: 100px;
  background-position:center center;
  background-size: 200%;
  background-repeat:no-repeat;
}

.post__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  order: 2;
  width:calc(100% - 100px);
  padding-left: 15px;
}

.post__author, .post__tag {
  font-size: 20px;
  width:100%;
}

.post__author {
  padding-bottom: 15px;
}

@media all and (min-width: 800px) {
  .post {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-column-gap: 20px;
  }

  .post__header, .post__author, .post__tag {
    display: flex;
    align-items: center;
  }

  .post__content {
    flex-direction: row;
    justify-content: flex-start;
  }

  .post__author, .post__tag {
    font-size: 1.5em;
  }

  .post__header {
    order: 2;
    margin-bottom: 0;
  }

  .post__img {
    order: 1;
  }

  .post__author {
    order: 3;
    width: 50%;
    padding-bottom: 0px;
  }

  .post__tag {
    order: 4;
    width: 50%;
  }
}

/* 6. Single Post
/* ---------------------------------------------------------- */




/* 7. Author Template
/* ---------------------------------------------------------- */



/* 8. Error Template
/* ---------------------------------------------------------- */



/* 9. Site Footer
/* ---------------------------------------------------------- */
