/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Site Header
4.  Site Navigation
5.  Post Feed
6.  Single Post
7.  Author Template
8.  Error Template
9. Site Footer


/* 1. Global - Set it up!!!
/* ---------------------------------------------------------- */

@import "global.css";

body {
    background: #fff;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main {
    z-index: 100;
    flex-grow: 1;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 4vw;
}

/* Centered content container blocks */
.inner {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

/* Usage:

<div class="outer">
    <div class="inner">
        Centered content
    </div>
</div>

*/


/* 3. Site Header
/* ---------------------------------------------------------- */




/* 4. Site Navigation
/* ---------------------------------------------------------- */




/* 5. Post Feed
/* ---------------------------------------------------------- */
.post {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
}

.post__img {
  width: 100px;
  height: 100px;
}


/* 6. Single Post
/* ---------------------------------------------------------- */




/* 7. Author Template
/* ---------------------------------------------------------- */



/* 8. Error Template
/* ---------------------------------------------------------- */



/* 9. Site Footer
/* ---------------------------------------------------------- */
